.shareBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdeda;
  width: 100%;
  border-radius: 10px;
  padding: 15px 20px 2px;
  
}

.shareBoxUpper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userImg {
  width: 50px;
  border: 1px solid transparent;
  border-radius: 30px;
}
.userDetails {
  color: black;
  font-size: 15px;
  border: 1px solid rgb(72, 72, 72);
  width: 100%;
  padding: 12px 20px;
  border-radius: 20px;
  align-content: left;
}
.ShareBoxLinks {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}
.ShareBoxLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  gap: 3px;
}
.LinkImage {
  width: 30px;
  height: 95%;
  border: 1px solid transparent;
  border-radius: 10px;
}
.ShareBoxLink:hover {
  cursor: pointer;
  background-color: #dfdeda;
  border-radius: 10px;
}
.userDetails:hover {
  cursor: pointer;
  background-color: #dfdeda;
}
@media only screen and (max-width: 600px) {
  .shareBox {
    align-items: center;
    width: 90%;
    padding: 15px 0px 2px;
  }
  .shareBoxUpper {
    align-items: start;
  }
}
