.article {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 10px;
}

.contentText {
  padding: 20px;
}
.toggleButton {
  margin-left: 5px;
  color: gray;
}
.toggleButton:hover {
  color: #0a66c2;
  text-decoration: underline;
}
.contentMedia {
  width: 100%;
  border-bottom: 1px solid rgb(204, 204, 204);
}
.articleActionsNumber {
  display: flex;
  padding: 0px 20px;
  color: gray;
}
.reactionsNumber {
  margin-right: auto;
}
.articleActionsNumber > p:hover {
  cursor: pointer;
  color: #0a66c2;
  text-decoration: underline;
}
.articlActions {
  display: flex;
  justify-content: space-around;
}
.Action {
  display: flex;
  gap: 2px;
  padding: 10px;
}
.Action:hover {
  background-color: rgb(216, 215, 215);
  cursor: pointer;
  border-radius: 5px;
}
.ActionImage {
  width: 20px;
}

@media only screen and (max-width: 600px) {
  .article {
    width: 90%;
    align-items: center;
  }
}
