.LoginNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 150px;
  flex-wrap: nowrap;
}
.NavLink {
  margin-left: 10px;
}
.NavImage {
  width: 150px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
}
.NavButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.JoinNow {
  font-size: 25px;
  padding: 10px;
  margin-right: 30px;
  text-decoration: none;
  color: rgb(0, 0, 0, 0.6);
  border-radius: 30px;
  padding: 15px 25px;
}
.JoinNow:hover {
  color: black;
  background-color: rgb(0, 0, 0, 0.08);
  cursor: pointer;
}
.signInButton {
  border: 2px #0a66c2 solid;
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 600;
  color: #0a66c2;
  cursor: pointer;
  transition-duration: 100ms;
}
.signInButton:hover {
  background-color: aliceblue;
}

@media only screen and (max-width: 800px) {
  .LoginNav {
    margin: 40px 50px;
  }
  .NavImage {
    width: 100px;
    height: 30px;
  }
  .JoinNow {
    font-size: 20px;
    margin-right: 5px;
  }
  .signInButton {
    font-size: 15px;
    padding: 5px 10px;
  }
}
