.dailyGames {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdeda;
  border-radius: 10px;
  padding: 5px 0px 0px;
}
.gamesTitle {
  padding: 15px 10px 5px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .dailyGames {
    align-items: center;
    width: 90%;
  }
}
