.Home {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  padding: 40px 180px 200px;
  margin-bottom: 50px;
  margin-top: 30px;
}
.Layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  .Home {
    padding: 40px 50px;
  }
  .Layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
  }
}
