.Home {
  padding-top: 100px;
  height: 100%;
  margin-bottom: 700px;
}
.Layout {
  display: flex;
  justify-content: center;
  align-items: cenetr;
}
.HomeMainRight {
  display: flex;
  gap:10px;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1300px) {
  .HomeMainRight {
    flex-direction: column;
    justify-content: cenetr;
    gap:10px;
  }
}
@media only screen and (max-width: 1000px) {
  .Home {
    width: 100%;
    padding: 40px 50px;

  }
  .HomeMainRight{
    width: 100%;
  }

  .Layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
  }
}
